<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
	    <link th:href="@{/css/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
		rel = "stylesheet"></link>
		<link rel="stylesheet" th:href="@{/css/ccontact.css}"></link>
        <title>Contacts</title>
    </head>
    <body>
	<div class = "container-fluid">
        <div class="row">
				<div class="col-md-12 btn-group btn-group-justified">
					<a href="index.html" th:href = "@{/index}" target = "_blank" 
					class="btn" style="background-color:blue;
					color:white">Home</a>
					<a href="#" th:href = "@{/about}" class="btn" 
					style="background-color:blue;color:white">About</a>
					<a href="Contact.html" th:href = "@{/contact}" target = "_blank" 
					class="btn" style="background-color:blue;color:white">
					Contacts</a>
				</div>
			</div>
       		<div class = "row mt-3">
                <div class="mapouter col-md-12">
	                <div class="gmap_canvas col-md-12">
		                <iframe width="100%" height="500" 
		                id="gmap_canvas" src="https://maps.google.com/maps?q=cato%20crest%20hall&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" 
		                marginheight="0" marginwidth="0">
		                </iframe>
		                <a href="https://www.whatismyip-address.com">
		                </a>
		                <br>
		                <style>.mapouter{
			                position:relative;text-align:right;
			                height:500px;}
		                </style>
		                <a href="https://google-map-generator.com"></a>
		                <style>.gmap_canvas {
			                overflow:hidden;background:none!important;
			                height:500px;}
		                </style>
	                </div>
                </div>
            </div>
            <div class = "row mt-3">
                <div class = "col-md-5">	
                    <br/>
                    <div class = "Location_Contact">
                        <address>
                        	<h5 >Mayville Cato Crest 6257 Ashwell Road 
                            Kwa Zulu Natal,Durban 4091  
                            South Africa</h5>   
                        </address>
                       <h5>			
                            Email : Lwandile@myhomeismyreflection.co.za<br/>
                            Phone Number : 0672781430
                        </h5>
                        <h5>			
                            Close To The Hall On The Right.
                        </h5>
                    </div>
                </div>
                <div class = "col-md-4 offset-md-3">
                    <br/>
                    <iframe th:src = "@{/images/Web Pics/Cato Crest Hall.jpg}" 
                    id = "Goku_Frame" width = "100%" height = "255px">
                    </iframe>
                </div>
            </div>
        </div>
    </body>
</html>