<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
	    <link th:href="@{/css/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
		rel = "stylesheet"></link>
		<link rel="stylesheet" th:href="@{/css/ccontact.css}"></link>
        <title>Contacts</title>
    </head>
    <body>
	<div class = "container-fluid">
        <div class="row">
				<div class="col-md-12 btn-group btn-group-justified">
					<a href="index.html" th:href = "@{/index}" target = "_blank" 
					class="btn" style="background-color:blue;
					color:white">Home</a>
					<a href="#" th:href = "@{/about}" class="btn" 
					style="background-color:blue;color:white">About</a>
					<a href="Contact.html" th:href = "@{/contact}" target = "_blank" 
					class="btn" style="background-color:blue;color:white">
					Contacts</a>
				</div>
			</div>
       		<div class = "row mt-3">
                <div class = "col-md-12">
                    <!-- Google map needed for Mayville Primary School, Cator Crest Library or CAO. -->
                    <iframe 
                        src = "https://www.google.com/maps/embed?pb=
                        !1m18!1m12!1m3!1d5819.418691603769!2d30.9722138457359
                        9!3d-29.857148101567955!2m3!1f0!2f0!3f0!3m2!1i1024!2i7
                        68!4f13.1!3m3!1m2!1s0x0%3A0xaf445154466b1a73!2sCato+Crest
                        +Community+Hall!5e0!3m2!1sen!2sza!4v1565602664873!5m2!1sen!
                        2sza"  style="border:0;" 
                        width = "100%" height = "400">
                    </iframe>
                </div>
            </div>
            <div class = "row mt-3">
                <div class = "col-md-5">	
                    <br/>
                    <div class = "Location_Contact">
                        <address>
                        	<h5 >Mayville Cato Crest 6257 Ashwell Road 
                            Kwa Zulu Natal,Durban 4091  
                            South Africa</h5>   
                        </address>
                       <h5>			
                            Email : wecare@myhomeismyreflection.co.za<br/>
                            Phone Number : 0717572711
                        </h5>
                        <h5>			
                            Close To The Hall On The Right.
                        </h5>
                    </div>
                </div>
                <div class = "col-md-4 offset-md-3">
                    <br/>
                    <iframe th:src = "@{/images/Web Pics/Cato Crest Hall.jpg}" 
                    id = "Goku_Frame" width = "100%" height = "255px">
                    </iframe>
                </div>
            </div>
        </div>
    </body>
</html>