<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link th:href="@{/css/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
		rel = "stylesheet"></link>
		<link rel="stylesheet" th:href="@{/css/index.css}"></link>
		<title>Home</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 btn-group btn-group-justified">
					<a href="#" th:href = "@{/index}" class="btn" style="background-color:blue;">Home</a>
					<a href="About.html" th:href = "@{/about}" target = "_blank" class="btn" style="background-color:blue;">About</a>
					<a href="Contact.html" th:href = "@{/contact}" target = "_blank" class="btn" style="background-color:blue;">Contacts</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h3 class="my-1">Brick Laying</h3>
					<img class="my-1" style="height:90%" th:src="@{/images/Brick Laying/Brick1.jpg}" width="100%"></img>
				</div>
				<div class="col-md-6  col-sm-12 list-group">
					<h3 class="my-1">Available Services And Previous Work</h3>
					<div class="my-1 pre-scrollable">
						<a href = "#" class="list-group-item dropdown-toggle"
						id="BLayingLink">Click To Watch Brick Laying Previous Work</a>							
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="PlumbingLink">Click To Watch Plumbing Previous Work</a>							
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="PaintingLink">Click To Watch Painting Previous Work</a>							
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="RWallsLink">Click To Watch Retaining Walls Previous Work</a>							
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="PavingLink">Click To Watch Paving Previous Work</a>
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="TilingLink">Click To Watch Tiling Previous Work</a>
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="FenceLink">Click To Watch Fencing Previous Work</a>
						<a href = "#" class="list-group-item dropdown-toggle" 
						id="RoofLink">Click To Watch Ceiling Previous Work</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-12">
					<h3 class="my-1">Plumbing</h3>
					<img class="my-1" style="height:90%" th:src="@{/images/Plumbing/Project1/plumbing3.jpg}" width="100%"></img>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 list-group mt-2 mb-1">
					<a type="button" th:href="@{/surveyform}" href="SurveyRequestForm.html" 
					class="btn btn-lg" style="background-color:blue;"> Request Job</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 my-2 col-sm-6">
					<h5>Painting</h5>
					<img style="height:90%" 
					th:src="@{/images/Painting/Painting1.jpg}" width="100%"></img>
				</div>
				<div class="col-md-2 my-2 col-sm-6">
					<h5>Retaining Walls</h5>
					<img style="height:90%" th:src="@{/images/Retaining Walls/Retaining_Walls.jpeg}" width="100%"></img>
				</div>
				<div class="col-md-2 my-2 col-sm-6">
					<h5>Paving</h5>
					<img style="height:90%" th:src="@{/images/Paving/Paving1.jpg}" width="100%"></img>
				</div>
				<div class="col-md-2 my-2 col-sm-6">
					<h5>Tiling</h5>
					<img style="height:90%" th:src="@{/images/Tiling/Tiles1.jpg}" width="100%"></img>
				</div>
				<div class="col-md-2 my-2 col-sm-6">
					<h5>Fencing</h5>
					<img style="height:90%" 
					th:src="@{/images/Fencing/Project1/fence1.jpg}" width="100%"></img>
				</div>
				<div class="col-md-2 my-2 col-sm-6">
					<h5>Ceiling</h5>
					<img style="height:90%" th:src="@{/images/Ceiling/Ceiling1.jpg}" width="100%"></img>
				</div>
			</div>
		</div>
	</body>
	<script th:src = "@{/js/jquery-ui-1.12.1/external/jquery/jquery.js}"></script>
	<script>
		$("document").ready(function(){
			
			
		});
	</script>
</html>